@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 5, 5, 10;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
  font-family: var(--font-outfit), sans-serif;
  height: 100%;
  margin: 0;
}

html {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-cinzel), serif;
}